* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.topnav {
    padding-left: 30%;
    padding-right: 30%;
    font-size: large;
}

.top {
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 50px;

}

.menu {
    font-size: 30pt;
    padding: 20px;
    color: black;
    background-color: azure;
    text-decoration: none;
    margin: 5px;
}


.logo {
    width: 150px;
    float: left;
    padding-left: 20%;
    padding-top: 10px;
}


.slogan {
    padding-top: 120px;
    text-align: center;
    color: white;
    font-size: 30pt;
}

.left-side {
    float: left;
    width: 45%;
    box-sizing: border-box;
    padding-left: 200px;
    font-size: 25pt;
}

.right-side {
    float: right;
    width: 45%;
    box-sizing: border-box;
    padding: 25px;
}